.invoice-box {
	max-width: 800px;
	margin: auto;
	padding: 30px;
	border: 1px solid #eee;
	box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
	font-size: 16px;
	line-height: 24px;
	font-family: 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
	color: #555;
}

.invoice-box table {
	width: 100%;
	line-height: inherit;
	text-align: left;
}

.invoice-box table td {
	padding: 5px;
	vertical-align: top;
}

.invoice-box table tr td:nth-child(2) {
	text-align: right;
}

.invoice-box table tr.top table td {
	padding-bottom: 20px;
}

.invoice-box table tr.top table td.title {
	font-size: 45px;
	line-height: 45px;
	color: #333;
}

.invoice-box table tr.information table td {
	padding-bottom: 40px;
}

.invoice-box table tr.heading td {
	background: #eee;
	border-bottom: 1px solid #ddd;
	font-weight: bold;
}

.invoice-box table tr.details td {
	padding-bottom: 20px;
}

.invoice-box table tr.item td {
	border-bottom: 1px solid #eee;
}

.invoice-box table tr.item.last td {
	border-bottom: none;
}

.invoice-box table tr.total td:nth-child(2) {
	border-top: 2px solid #eee;
	font-weight: bold;
}
#itemsTable tr{
	text-align: center;
}
#itemsTable{
	border: 2px solid grey;
}

@media only screen and (max-width: 600px) {
	.invoice-box table tr.top table td {
		width: 100%;
		display: block;
		text-align: center;
	}

	.invoice-box table tr.information table td {
		width: 100%;
		display: block;
		text-align: center;
	}
}

/** RTL **/
.invoice-box.rtl {
	direction: rtl;
	font-family: Tahoma, 'Helvetica Neue', 'Helvetica', Helvetica, Arial, sans-serif;
}

.invoice-box.rtl table {
	text-align: right;
}

.invoice-box.rtl table tr td:nth-child(2) {
	text-align: left;
}
.centred-button{
	display: flex;
	justify-content: center;
	align-items: center;
	height: 10vh;
}


/** Modal Styling **/
.modal {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	overflow: auto;
	background-color: rgba(0, 0, 0, 0.4);
  }
  
  .modal-content {
	background-color: #fefefe;
	margin: 15% auto;
	padding: 20px;
	border: 1px solid #888;
	width: 80%;
  }
  
  .close {
	color: #aaa;
	float: right;
	font-size: 28px;
	font-weight: bold;
  }
  .close:hover,
	.close:focus {
	color: black;
	text-decoration: none;
	cursor: pointer;
	}
	.styled-form {
		background-color: #f8f8f8;
		padding: 20px;
		border-radius: 5px;
	  }
	  
	  .form-group {
		margin-bottom: 20px;
	  }
	  
	  label {
		display: block;
		margin-bottom: 5px;
		font-weight: bold;
	  }
	  
	  .form-control {
		width: 100%;
		padding: 10px;
		border: 1px solid #ccc;
		border-radius: 4px;
		box-sizing: border-box;
	  }
	  
	  input[type="number"] {
		width: 80px;
	  }
	  
	  input[list] {
		width: calc(100% - 30px);
	  }
	  
	  datalist {
		max-height: 150px;
		overflow-y: auto;
	  }
	  .additem{
		margin-right: 10vh;
	  }
	  .deleteitem{
		margin-right: 10vh;
	  }
	  .home{
		margin-left: 10vh;
	  }