{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{%static 'stock/stock.css' %}">
    <title>HOME</title>
</head>
<body>
    <ul class="dropdown-menu">
        <li>
          <a href="#"><h3>ENTRY MENU</h3></a>
          <div class="dropdown-content">
            <div class="column">
            <a href="{% url 'entryForm' %}">ADD ENTRIES</a>
            <a href="{%url 'bill' %}">GENERATE BILL</a> 
            <a href="{%url 'updateaccounts' %}">Update Accounts</a>
            </div>
        </li>
    </ul>
    <div id="mysidenav" class="sidenav">
        
        
        <span><a href="{%url 'admin:index' %}">ADMIN</a></span>  
        <span class="buy">PURCHASE</span>
        <span class="sold">SALE</span>
        <span class="st">STOCK</span>
        <span class="it">ITEMS</span>
        <span class="act">Accounts</span>
    
        
       
    </div><br><br>

       <div class="purchase">
        <div>
            <h2>PURCHASE TABLE</h2>
            <div>
                <p>Apply Filter</p>
                <label for="start-date">Start Date</label>
                <input type="date" id="pdate_input">
                <label for="end-date">End Date</label>
                <input type="date" id="pdate_input2">
                <button onclick = "searchbyDate_purchase()">SUBMIT</button>
            </div>
            <div class="price_p"></div>
            </div>
           <table id="tableData_p">
               <tr>
                   <th>Item</th>
                   <th>Date</th>
                   <th>Quantity</th>
                   <th>Rate</th>
                   <th>Amount</th>
               </tr>
               
                   {% if purchase %}
                        {% for p in purchase %}
                        <tr>
                            <td>{{ p.item }}</td>
                            <td>{{ p.date }}</td>
                            <td>{{p.quantity}}</td>
                           <td>{{p.item.invoice_rate}}</td>
                            <td>{{p.amount}}</td>
                        </tr>
                        {% endfor %}
                   {% else %}
                        <p>NO DATA</p>
                   {% endif %}
                
           </table>
       </div>
    
    
       <div class="sale">
           <div>
               <h2>SALES TABLE</h2>
              
               <div>
                   <p>Apply Filter</p>
                   <label for="start-date">Start Date</label>
                   <input type="date" id="sdate_input">
                   <label for="end-date">End Date</label>
                   <input type="date" id="sdate_input2">
                   <button onclick = "searchbyDate_sale()">SUBMIT</button>
               </div>
               <div class="price_s"></div>
               </div>
           

        <table id="tableData_s">
            <tr>
                <th>Item</th>
                <th>Dealer</th>
                <th>Date</th>
                <th>Rate</th>
                <th>Boxes</th>
                <th>Price</th>
            </tr>
            {% if sale %}
                        {% for p in sale %}
                        <tr>
                            <td>{{ p.item }}</td>
                            <td>{{p.dealer.name}}</td>
                            <td>{{ p.date }}</td>
                            <td>{{p.rate}}</td>
                            <td>{{p.quantity}}</td>
                            <td>{{p.amount}}</td>
                        </tr>
                        {% endfor %}
                   {% else %}
                        <p>NO DATA</p>
                   {% endif %}
        </table>
    </div>
    <div class="stock">
        <h2>STOCKS TABLE</h2>
     <table>
         <tr>
             <th>Item</th>
             <th>box</th>
         </tr>
         <tr>
            {% if stock %}
            {% for p in stock %}
            <tr>
                <td>{{ p.item }}</td>
                <td>{{p.quantity}}</td>
            </tr>
            {% endfor %}
       {% else %}
            <p>NO DATA</p>
       {% endif %}
         </tr>
     </table>
    </div>

    <div class="items">
        <h2>ITEM TABLE</h2>
     <table>
         <tr>
             <th>Item</th>
             <th>MRP</th>
             <th>Invoice Rate</th>
         </tr>
         <tr>
            {% if items %}
            {% for p in items %}
            <tr>
                <td><a href="{% url 'item-detail' name=p.name%}" style="text-decoration: none; color:black">{{ p.name }}</a></td>
                <td>{{p.mrp}}</td>
                <td>{{p.invoice_rate}}</td>
            </tr>
            {% endfor %}
       {% else %}
            <p>NO DATA</p>
       {% endif %}
         </tr>
     </table>
    </div>

    <div class="accounts">
	<div>
		<h2 id="dealerHead">DEALER TABLE</h2>
		<div id="dealerTotal" class="dealerTotal"></div>
	</div>
     <table id="dealers_d">
         <tr>
             <th>DEALER</th>
             <th>GSTIN</th>
             <th>ADDRESS</th>
             <th>BALANCE</th>
         </tr>
         <tr>
            {% if dealers %}
            {% for dealer in dealers %}
            <tr>
                <td><a href="{% url 'dealer' slug=dealer.slug%}" style="text-decoration: none; color:black">{{ dealer.name }}</a></td>
                <td>{{dealer.gstin}}</td>
                <td>{{ dealer.address}}</td>
                <td>{{ dealer.balance}}</td>
            </tr>
            {% endfor %}
       {% else %}
            <p>NO DATA</p>
       {% endif %}
         </tr>
     </table>
    </div>

    
<script src="{% static 'stock/stocks.js' %}"></script>
</body>
</html>